/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px dashed;
    padding: 5px;
}

/* #endregion common */

/* #region header */

header {
    padding: 1rem 17rem;
    background-color: #add8e6;
}

.conteiner-h {
    display: flex;
    margin: auto;
    background-color: #daa520;
}

.left-box {
    width: 25%;
}

.center-box {
    width: 50%;
    text-align: center;
}

.right-box {
    width: 25%;
    text-align: end;
}

/* #endregion header */

/* #region main */
.container1 {
    display: flex;
    margin: auto;
    height: 22rem;
    background-color: #00008b;
    padding: 2.5rem 23rem;

    .box1 {
        display: flex;
        background-color: #ee82ee;
        width: 100%;
    }
}

.container2 {
    display: flex;
    margin: auto;
    height: 25rem;
    padding: 3rem 18rem;

    .box2 {
        display: flex;
        background-color: #1e90ff;
        width: 60%;
    }

    .box3 {
        display: flex;
        background-color: #ffc0cb;
        width: 40%;
    }
}

.container3 {
    display: flex;
    margin: auto;
    height: 25rem;
    padding: 3rem 18rem;
    background-color: #d3d3d3;

    .box4 {
        display: flex;
        background-color: #ffc0cb;
        width: 40%;
    }

    .box5 {
        display: flex;
        background-color: #1e90ff;
        width: 60%;
    }
}

.container5 {
    display: flex;
    height: 45rem;
    padding: 3rem 18rem;
    background-color: #d3d3d3;
    .box6 {
        display: flex;
        background-color: #228b22;
        width: 100%;
    }
}




/* #endregion main */