/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px dashed;
    padding: 5px;
}

/* #endregion common */

/* #region header */

header {
    padding: 0.7rem;
    background-color: #add8e6;
}

.conteiner-h {
    display: flex;
    margin: auto;
    background-color: #daa520;
}

.left-box {
    width: 25%;
}

.center-box {
    width: 50%;
    text-align: center;
}

.right-box {
    width: 25%;
    text-align: end;
}

/* #endregion header */

/* #region main */
.container1 {
    height: 20rem;
    background-color: #00008b;
    padding: 2rem 4rem;

    .box1 {
        display: flex;
        background-color: #ee82ee;
        padding: 7rem;
    }
}



/* #endregion main */